.new-form-container {
  width: 40%;
}

.banner-new {
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.form-actions {
  margin-bottom: 30px;
}
