/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
}
.alert-info {
  background: white;
  color: black;
}
.alert-warning {
  background: black;
  color: yellow;
}
