 .message {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: white;
  margin: 10px;
  border-top: 8px solid #194769;
  border-radius: 3px;
  box-shadow: 1px 2px 2px #d5d6d8;
}
.message:last-child {
  border-bottom: none;
}

.dashboard-date {
  font-size: 15px;
  font-weight: lighter;
  margin: 5px;
  text-justify: auto;

}

.message-name {
  padding-left: 10px;
  min-width: 100px;
  margin-right: 100px;
  font-size: 30px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}

.message-body {
  flex-grow: 1;
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  padding: 0px;
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

.message-status {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}
.nav-tabs {
  display: inline-flex;
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      color: primary;
    }
  }
  .tab-active{
    background-color: white;
  }
}

.dashboard-container {
  height: 100vh;
}

// .status.accepted {
//   color: #04A366;
// }
// .status.declined {
//   color: red;
// }
// .status.pending {
//   color: lightgrey;
// }
