.main-container{
  min-height: calc(100vh - 170px);
}

h1 {
  font-size: 56px;
  opacity: 0.9;
  font-weight: lighter;
  text-align: center;
}

h2 {
  font-size: 36px;
  opacity: 0.9;
  font-weight: lighter;
  text-align: center;
}
