
.product-show-container {
  display: flex;
  padding: 0 50px;
  background-color: white;
}

.product-photo {
  background-size: cover;
  background-position: center;
  width: auto;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}

.product-container {
  flex: 0 0 70%;
}

#booking-form-container {
  flex: 1 0 auto;
}

#booking-form {
  border: 0.5px #e4e4e4 solid;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  .price {
    border-bottom: 0.5px #e4e4e4 solid;
    text-align: center;
    color: #00BBF0;
    font-size: 24px;
  }
}

#form {
  flex: 0 0 40%;
  top: 0 !important;
  border: 0.5px solid grey;
  padding-left: 30px;
  padding-right: 30px;
}


.full-width {
  width: 100%;
}

.sticky {
  position: sticky !important; /* !important to override Gmaps inline CSS */
}
