.big-container {
  display: flex;
  align-items: stretch;
  padding-right: 60px;
  padding-left: 30px;
}
.product-container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  img {
    max-width: 100%;
  }
}

#form {
  flex: 0 0 30%;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.product-container h3 {
  text-align:center
}

// .product-container h4 {
//   text-align:center
// }

.banner-show {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 650px;
}
